%a{href: '/return', 'data-remote' => true, id: 'return'}
  &#9664; 
.add-title
  Add Group 
  %a{href: '/add?cancel=true', 'data-remote' => true}
    %i.close-link.fa.fa-times.fa-close
= form_for @group, html: {class: 'add-form', role: 'form'}, :remote => true do |f| 
  = render 'shared/small_error_messages', :target => @group
  = f.label :name
  = f.text_field :name, class: 'form-control', placeholder: 'Group name'
  = f.label :school, 'Assigned to', class: 'label_school'
  = f.select :school_id, current_user.schools.all.collect { |s| [ s.name, s.id ] }
  = f.submit 'Create', class: 'add-button btn btn-primary', id: 'add-school-submit'
