= link_to_return
.add-title
  Add Group 
  = link_to_close
= form_for @group, html: {class: 'add-form', role: 'form'}, :remote => true do |f| 
  = render 'shared/small_error_messages', :target => @group
  = f.label :name
  = f.text_field :name, class: 'form-control', placeholder: 'Group name'
  = f.label :school, 'Assigned to', class: 'label_school'
  = f.select :school_id, current_user.schools.all.collect { |s| [ s.name, s.id ] }
  = f.submit 'Create', class: 'add-button btn btn-primary', id: 'add-school-submit'
