.form-style
  .form-header
    Reset your password
  = form_for @user, url: password_path(params[:id]), html:{ class: 'form-horizontal', role: 'form'}, :method => :put do |f|
    = render 'shared/error_messages', :target => @user
    .form-group
      = f.label :password, class: "col-sm-4 control-label"
      .col-sm-5
        = f.password_field :password, class: 'form-control'
    .form-group
      = f.label :password_confirmation, class: "col-sm-4 control-label style_password_confirmation"
      .col-sm-5
        = f.password_field :password_confirmation, class: 'form-control'
    .form-group
      .col-sm-offset-4.col-sm-3
        = f.submit 'Reset', class: 'btn btn-primary btn-lg btn-block'  
