= link_to_return
.add-title
  Add School
  = link_to_close
= form_for @school, html: {class: 'add-form', role: 'form'}, :remote => true do |f| 
  = render 'shared/small_error_messages', :target => @school
  = f.label :name
  = f.text_field :name, class: 'form-control', placeholder: 'School name'
  = f.submit 'Create', class: 'add-button btn btn-primary', id: 'add-school-submit'
