%h1 Listing schools

%table
  %tr
    %th Name
    %th Deleted at
    %th
    %th
    %th

  - @schools.each do |school|
    %tr
      %td= school.name
      %td= school.deleted_at
      %td= link_to 'Show', school
      %td= link_to 'Edit', edit_school_path(school)
      %td= link_to 'Destroy', school, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New School', new_school_path
