!!!5
%html
  %head
    %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
    %title Memento Book 
    = stylesheet_link_tag :application, media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tag
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

  %body#custom-body

    = render :partial => "common/set_focus"

    %nav{id: 'navbar', class: 'navbar custom-nav', role: 'navigation'} 
      .container-fluid
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li
              %a{href: '/'} Memento Book 
            %li
              -if current_user
                = link_to 'Schools', schools_path

          %ul.nav.navbar-nav.navbar-right
            -if current_user
              %li.nav-welcome
                welcome 
                = current_user.username << ' !'
              %li
                = link_to 'Profile', profile_path, id: 'nav-profile'
              %li
                = link_to 'Setting', edit_profile_path, id: 'nav-setting'
              %li
                = link_to 'Logout', logout_path, :method => :delete, id: 'nav-logout'
            -else
              %li
                = link_to 'Login', login_path, id: 'nav-login'
              %li
                = link_to 'Sign up', signup_path, id: 'nav-signup'
    .flash-style
      = notice_message 
    #{yield}
