%p#notice= notice

%p
  %b Name:
  = @member.name
%p
  %b Email:
  = @member.email
%p
  %b Phone:
  = @member.phone
%p
  %b Qq:
  = @member.QQ
%p
  %b Address:
  = @member.address
%p
  %b Group:
  = @member.group

= link_to 'Edit', edit_member_path(@member)
\|
= link_to 'Back', members_path
